<v-app id="app">
    <v-navigation-drawer
            v-model="drawer"
            fixed
            app
    >
        <v-list
                dense
                nav
        >
            <v-list-item to="/" @click="drawer = !drawer">
                <v-list-item-action>
                    <v-icon>home</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>
                        Home
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-group
                    prepend-icon="mdi-database"
                    no-action
            >
                <template slot="activator">
                    <v-list-item-content>
                        <v-list-item-title>Indexes</v-list-item-title>
                    </v-list-item-content>
                </template>

                <v-list-item to="/query" @click="drawer = !drawer">
                    <v-list-item-content>
                        <v-list-item-title>
                            Query
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item to="/visualization" @click="drawer = !drawer">
                    <v-list-item-content>
                        <v-list-item-title>
                            Visualization
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item to="/settings" @click="drawer = !drawer">
                    <v-list-item-content>
                        <v-list-item-title>
                            Settings
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list-group>
            <v-list-item to="/logs" @click="drawer = !drawer">
                <v-list-item-action>
                    <v-icon>mdi-post</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>
                        Logs
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </v-navigation-drawer>
    <v-app-bar color="primary" dark fixed app flat clipped-right>
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title style="cursor: pointer" @click="goHome">Zulia UI</v-toolbar-title>
    </v-app-bar>
    <v-main style="overflow: hidden;">
        <router-view></router-view>
    </v-main>

    <div id="success">
        <v-snackbar :multi-line="multiLine" top="top" right="right" v-model="showSuccess" color="success">
            <div>{{ successMessage }}</div>
            <v-btn text color="white" @click.native="showSuccess = false">Close</v-btn>
        </v-snackbar>
    </div>

    <div id="error">
        <v-snackbar :multi-line="multiLine" top="top" right="right" v-model="showError" color="error">
            <div>{{ errorMessage }}</div>
            <v-btn text color="white" @click.native="showError = false">Close</v-btn>
        </v-snackbar>
    </div>

    <div id="warning">
        <v-snackbar :multi-line="multiLine" top="top" right="right" v-model="showWarning" color="warning">
            <div>{{ warningMessage }}</div>
            <v-btn text color="white" @click.native="showWarning = false">Close</v-btn>
        </v-snackbar>
    </div>
    <v-footer color="primary" app fixed>
        <a href="http://www.ascend-tech.us" class="white--text caption" style="margin-left: 5px;text-decoration: none">© {{currentYear}} Zulia | Backed by
            Ascendant Software
            Technology, LLC</a>
    </v-footer>
</v-app>